body {

font-family: Arial, sans-serif;

margin: 0;

padding: 0;

}




header {
background-color: #333;

color: #fff;

padding: 20px;

text-align: center;

}




h1 {

margin: 0;

}




nav {

background-color: #777;

padding: 10px;

text-align: center;

}




nav a {

color: #fff;

text-decoration: none;

margin-right: 10px;

}




main {
padding: 20px;

}




h2 {

color: #333;

margin-top: 0;

}




p {

line-height: 1.5;

}




div {

margin-bottom: 20px;

}




div h3 {

color: #555;

margin-top: 0;

}




div img {

max-width: 100%;
height: auto;

}




footer {

background-color: #777;

color: #fff;

padding: 10px;

text-align: center;

}
